name: Build Test on Pull Request

on:
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/${{ github.repository_owner }}/bino
                  tags: |
                      type=sha,prefix=sha-
                      type=sha,format=short
                      type=ref,event=pr
                      type=raw,value=pr-${{ github.event.pull_request.number }}

            - name: Build Docker image (no push)
              uses: docker/build-push-action@v6
              with:
                  push: false
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: |
                      type=gha,scope=pr-${{ github.event.pull_request.number }}
                  cache-to: type=gha,mode=max,scope=pr-${{ github.event.pull_request.number }}
